.paginationWrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.paginationList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0 20px;
}

button {
    font-size: 12px;
}

li:hover {
    color: aquamarine;
    cursor: pointer;
    transition: .6s;
}

.usersWrapper {
    position: relative;
}

.users {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}