.userWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 8px;
}

.userLink {
    font-size: 12px;
    color: #ccc;
}

.userLink:hover {
    text-decoration: underline;
}

.column:nth-child(2) {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.infoOfUser {
    flex: 0 1 200px;
}

.nameWrapper {
    font-size: 24px;
}

.statusWrapper {
    flex: 1 1 auto;
}

.userWrapper:last-child {
    margin-bottom: 0;
}

.btnWrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.avatarWrapper {
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: splachingBg 1s infinite;
}

@keyframes splachingBg {
    0% {
        background: #000;
    }

    50% {
        background: #141414;
    }

    100% {
        background: #000;
    }
}