.header {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    padding: 1rem;
}

.logo {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}

.name {
    font-size: 18px;
}