.nav {
    padding: 1em;
    border-radius: 8px;
    border: 1px solid #000;
    background: #222222;
}

.link {
    display: block;
    padding: .5rem 0;
    font-size: 18px;
    transition: opacity .6s;
}

.link:hover {
    opacity: .6;
}